<div class="right-area">
    <div id="block-block-26" class="block block-block">
        <h2>4th congress on Micro and Nano Manufacturing</h2>
        <div class="content">
            <p><a href="https://www.me.iitb.ac.in/~wcmnm/" title="WCMNM2020"><img src="/4m-association/assets/images/logo WCMNM2020_2.jpg" title="Click for WCMNM2020 website"></a></p>
        </div>
    </div>
    <div id="block-ig_book-801" class="block block-ig_book">
        <h2><a href="/conference/WCMNM2020" class="book-title">WCMNM2020</a></h2>
        <div class="content">
            <ul class="menu"><li class="leaf first"><a href="/4m-association/content/Call-papers-2">Call for papers</a></li>
                <li class="leaf last"><a href="/4m-association/content/Venue">Venue</a></li>
            </ul>
        </div>
    </div>
    <div id="block-block-15" class="block block-block">
        <h2>Micromachines - Supporting the 4M Association</h2>
        <div class="content">
            <p><a href="http://www.mdpi.com/journal/micromachines" title="Micromachines"><img src="/4m-association/assets/images/micromachines.jpg" title="Click for Micromachines website"></a></p>

        </div>
    </div>
    <div id="block-block-16" class="block block-block">
        <h2>MDPI - Supporting the 4M Association</h2>
        <div class="content">
            <p><a href="http://www.mdpi.com/" title="MDPI"><img src="/4m-association/assets/images/mdpi.jpg" title="Click for MDPI website"></a></p>
        </div>
    </div>
</div>