{% for entry in site.data.navigation %}
    {% capture curr_url %}{{ entry.href }}{% endcapture %}
    {% if curr_url == page.url %}
        {% assign current_page = curr_url %}
        {% break %}
    {% elsif page.href contains curr_url %}
        {% assign current_page = curr_url %}
    {% endif %}
{% endfor %}

<header id="header">
    <div class="masthead__logos">
        {% unless site.uob_logo_url == empty %}
        <div id="4m-logo">
            <a href="{{ site.4m_logo_url }}"><img src="{{ site.4m_logo_path }}" alt="{{ 4m_logo_alt }}"></a>
        </div>
        {% endunless %}
        <div id="title">
            {% unless site.site_title_url == empty %}
            <h1><a href="{{ site.site_title_url }}">{{ site.site_title }}</a></h1>
            {% else %}
            <h1>{{ site.site_title }}</h1>
            {% endunless %}
        </div>
    </div>

    <div class="masthead__menu">
        <nav id="links_menu">
            <a id="resp-menu" class="responsive-menu" href="#"><i class="fa fa-reorder"></i> Menu</a>
            <ul class="menu">
                {{ current_page }}
                {% for category in site.data.navigation %}
                    {% if category.href == current_page %}
                        {% assign current = ' class="selected"' %}
                    {% else %}
                        {% assign current = null %}
                    {% endif %}

                <li {{ current }}>
                    <a href="{{ category.href }}" {% if category.description %}title="{{ category.description }}"{% endif %}>{{ category.title }}</a>
                {% if category.subcategories %}
                    <ul class="sub-menu">
                    {% for subcategory in category.subcategories %}
                        <li><a href="{{ subcategory.subhref }}" {% if subcategory.subdescription %}title="{{ subcategory.subdescription }}"{% endif %}>{{ subcategory.subtitle }}</a></li>
                        {% for subsubcategory in category.subcategories.subcategories %}
                            <li><a href="{{ subsubcategory.subhref }}" {% if subsubcategory.subdescription %}title="{{ subsubcategory.subdescription }}"{% endif %}>{{ subsubcategory.subtitle }}</a></li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </nav>
    </div>
</header>
